:host {
  display: flex;
  flex-direction: column;
  background-color: #2b3465;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  color: #ffff;
  font-weight: 600;
  align-items: center;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 30%;
  margin: 1rem;
}

.username-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  height: 100%;
  width: 20%;
}

.icon {
  height: 40px;
  width: 40px;
}

.icon-user {
  height: 30px;
  width: 30px;
  color: #ffff;
}

.showcase-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.camera-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313f85;
  width: 70%;
  height: 100%;
}

.image-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2rem;
  margin: 1rem;
  width: 100%;
  height: 20%;
}

.image-detail {
  width: 70%;
  height: 50px;
  background-color: #AEB9F2;
  opacity: 0.3;
  align-items: center;
  
 
}

.image-insert {
  height: 500px;
  width: 90%;
  background-color: aliceblue;
  margin-left: 1rem;
}

.camera-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  align-items: center;
}

ion-list {
  background-color: #2591F4;
  margin: 1rem;

}

.arrow-left {
  height: 40px;
  width: 40px;
  background-color: #293B98;
  color: #ffff;
  margin-left: 1rem;
  margin-right: 0.5rem;
}


.arrow-right {
  height: 40px;
  width: 40px;
  background-color: #293B98;
  color: #ffff;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.numer-wrapper {
  display: flex;
  color: #ffff;
  height: 40px;
  width: 40px;
  margin: 1rem;
  border-style: solid;
  border-width: thin;
  align-items: center;
  justify-items: center;
}


.sliding-message {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  width: 90%;
  height: 60px;
  margin: 2rem;

}

.icon-up {
  height: 40px;
  width: 40px;
  margin: 1rem;
  color: #99cde2;
}
.volum-icon {
  color: #1b2351;
  height: 40px;
  width: 40px;
}

.panel-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b2351;
  width: 30%;
  height: 100%;
}
