:host {
  display: block;
}
.camera-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  align-items: center;
  color:white;
  gap:10px;
}
.arrow-left {
  height: 40px;
  width: 40px;
  background-color: #293b98;
  color: #ffff;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.arrow-right {
  height: 40px;
  width: 40px;
  background-color: #293b98;
  color: #ffff;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.button-col {
  background-color: transparent;
  border: none;
}